@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
.logo {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.nav-link {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
    margin: 0px;
    font-weight: 600;
    text-transform: none;
    text-align: start;
    text-indent: 0px;
}

